body{
    margin: 0 0 0 0;
}
.Fgrid{

    display: grid;
    grid-template-rows: 183px 638px ;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
#div1{
    background-image: url(../../images/Men/b.jpg);
    text-align: left;
    size: 100%;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    border-top: 0;
}
#div2{
    padding-top: 520px;
    font-size: 100px;
    text-align: center;
    size: 100%;
background-image: url(../../images/Men/jacketsF/17923082_fpx.jpg);
}
#div3{
    padding-top: 520px;
    font-size: 100px;
    text-align: center;
    size: 100%;
background-image: url(../../images/Men/jacketsF/202175294-4.webp);
}
#div4{
    padding-top: 520px;
    font-size: 100px;
    text-align: center;
    size:100%;
   background-image: url(../../images/Men/jacketsF/26ac5ded-717e-4791-b4da-37da7d8d46b1_size561x730.jpg);
    
}
#div5{
    padding-top: 520px;
    font-size: 100px;
    text-align: center;
    size:100% ;
    background-image: url(../../images/Men/jacketsF/l_20222-w20948z8-rfd-98-76-97-189_a.webp);
    
}
.logo{
    height: 100%;
    width:90px ;
    font-size: 150px ;
   padding-left: 20px;
   padding-top: 5px;
   font-family: fantasy;
   text-decoration: none;
   color: black;
}
.grid{
    border: 1px solid black;
}
.grid a{
    font-family: fantasy;
   text-decoration: none;
   color: black;
}